{% extends 'base.html.twig' %}

{% block body %}
    <h1>Game</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ game.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ game.name }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td><img src="{{ asset('/uploads/photo/') }}{{ game.photo }}" alt="{{ game.photo }}"></td>
            </tr>
            <tr>
                <th>Indice</th>
                <td>{{ game.indice }}</td>
            </tr>
            <tr>
                <th>Participants</th>
                {#{% for user in game.users %}
                    <td>
                        {{ user.username }}
                    </td>
                {% endfor %}#}
            </tr>
        </tbody>
    </table>
    <ul>
        <li>
            <a href="{{ path('game_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('game_edit', { 'id': game.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
