{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}

    <div class="container">
        <div class="row">
            <h4 class="col offset-s1 s11 center">VOTRE PROFIL</h4>
        </div>
        <div class="row contenu">
            <div class="col s11">
                <div class="col offset-s5 s4 divPhotoProfil">
                    <img class="photoProfil z-depth-2" src="{{ asset ('bundles/findme/images/deer.jpg') }}" alt="profil">
                </div>

                <blockquote>
                    <div class="col s12 left">
                        <h5 class="ss-titre">Nom : </h5>
                        <h5 class="content">{{ app.user.username }}</h5>
                        {#{{ user.username }}#}
                    </div>
                    <div class="col s12 left">
                        <h5 class="ss-titre"> Points : </h5>
                        <h5 class="content">{{ app.user.points }}</h5>
                        {#{{ player.points }}#}
                    </div>
                    <div class="col s12 left">
                        <h5 class="ss-titre">Classement : </h5>
                        <h5 class="content">120 </h5>
                    </div>
                    <div class="col s12 left">
                        <h5 class="ss-titre">Groupes : </h5>
                        <h5 class="content">Vous ne faites pas encore partie d'un groupe.</h5>
                    </div>
                </blockquote>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col offset-s2 s8 center btnSolution">
            <a class="waves-effect waves-light btn" href="{{ path('find_me_validation') }}">
                Voir les solutions
            </a>
        </div>
    </div>

    {#Add a game button#}
    <a href=" {{ path('game_new') }} " class="btn tooltipped btn-floating btn-large waves-effect waves-light plus" data-position="bottom" data-delay="50" data-tooltip="Créer une partie">
        <i class="material-icons">add</i>
    </a>

{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $('.tooltipped').tooltip({delay: 50});
        });
    </script>

{% endblock javascripts %}